streamlit
streamlit_folium
streamlit-option-menu
langchain_core
langchain_community
langchain_ollama
selenium
unstructured[pdf]
yellowbrick
pycountry
kaleido
scikit-learn
matplotlib
plotly

# System dependencies required (not installed via pip):
# - poppler (for PDF parsing) #!conda install poppler -y
# - tesseract (for OCR) #!conda install tesseract -y

# not all groupmembers have been able to get tesseract working
# run !pip install -r requirements.txt for implementation 