streamlit
streamlit_folium
streamlit-option-menu
langchain_core
langchain_community
langchain_ollama
selenium
unstructured[pdf]
yellowbrick
pycountry
kaleido
scikit-learn
matplotlib
plotly
scipy

# System dependencies required (not installed via pip):
# - poppler (for PDF parsing)
# - tesseract (for OCR)

# not all groupmembers have been able to get tesseract working
# run !pip install -r requirements.txt for implementation 
